<article class="search-result row">
  <div class="col-xs-12 col-sm-12 col-md-3">
    <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://via.placeholder.com/250x140" alt="Lorem ipsum" /></a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2">
    <ul class="meta-search">
      <li><i class="glyphicon glyphicon-calendar"></i> <span><%= book.created_at.strftime("%B %d, %Y") %></span></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
    <h3><a href="#" title=""><%= book.title %></a></h3>
    <p><%= book.description.truncate(250) %></p>
    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
  </div>
  <span class="clearfix borda"></span>
</article>
