<% if @results.key?(:videos) %>
  <div class="container search-results">
    <hgroup class="mb20">
  		<h2 class="lead text-center"><strong class="text-danger"><%= @results[:videos].count %></strong> <%= 'video'.pluralize(@results[:videos].count) %> were found for the search for <strong class="text-danger"><%= params[:q] %></strong></h2>
  	</hgroup>
    <section class="col-xs-12 col-sm-6 col-md-12">
    <% if @results[:videos].count > 0 %>
      <div class='col-xs-3'>
        <% @results[:videos].each do |video| %>
          <%= render 'videos/video', :video => video %>
        <% end %>
      </div>
    <% end %>
  	</section>
  </div>
<% end %>
